<footer class="bg-dark" id="tempaltemo_footer">
    <div class="layout-footer">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">TLVE</h2>
                 
                <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Tunis
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="#">TLVE@contact.com</a>
                        </li>
                    </ul>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Tunis
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="#">TLVE@contact.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Service</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Nos service en LLD</a></li>
                    <li><a class="text-decoration-none" href="#">Nos service en LOA</a></li>
                    <li><a class="text-decoration-none" href="#">Nos partenaire pour particulier</a></li>
                    <li><a class="text-decoration-none" href="#">Leasing voiture</a></li>
                    <li><a class="text-decoration-none" href="#">LLD voiture électrique et hybride</a></li>
                    <!-- <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                    <li><a class="text-decoration-none" href="#">Sport Shoes</a></li> -->
                </ul>
            </div>
  
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <!-- <li><a class="text-decoration-none" href="#"></a></li>
                    <li><a class="text-decoration-none" href="#"></a></li> -->
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>
  
        </div>
  
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank"  href="#"><i class="pi pi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="#"><i class="pi pi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="#"><i class="pi pi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="#"><i class="pi pi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Subscribe</div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 Company Name 
                        | Designed by <a rel="sponsored" href="#" target="_blank"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->










<!-- <div class="layout-footer">
    <img src="https://www.teamwillgroup.com/media/logo.png" alt="Logo" height="40" class="mr-2"/>
</div> -->