<div class="grid p-fluid">
    <div class="col-12">
        <div >
          <div class="col-12 md:col-8 h-full">
                <p-steps [model]="routeItems" styleClass="mt-5" [readonly]="false"></p-steps>
            </div> 
        </div>
            <div class="col-12 md:col-4 mt-5 md:mt-0">
                <router-outlet></router-outlet>
            </div>
     
    </div>
         <div class="layout-sidebar">
<div class="layout-menu-container">
    <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
        <li app-menu-back-office class="layout-menuitem-category" *ngFor="let item of models; let i = index;" [item]="item" [index]="i" [root]="true" role="none">
            <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">{{item.label}}</div>
            <ul role="menu">
                <li app-menuitem *ngFor="let child of item.items" [item]="child" [index]="i" role="none"></li>
            </ul>
        </li>
    </ul>
</div> 
</div> 
</div>
