<div class="layout-sidebar">
    <app-menu></app-menu> 
 </div> 


 <h2 class="title text-center">
    <span class="text-primary">Qu'est-ce qu'un Leasing</span>
</h2> 
     <div>
    le leasing est un  contrat de location de voitures entre un loueur spécialisé et un particulier
ou un professionnel 
aprés avoir complété quelques démarches pour faire un leasing le locataire paie chaque mois des frais de location au propriétaire du véhicule a louer le leasing automobile dure souvent entre 1 et 5 ans
selon le contrat convenu par les deux parties voici les deux 
     </div>
     <div class="my-5">
        <img src="assets/demo/images/galleria/leasing.png"  class="shadow-4 center" width="50%"/>
    </div>
     les 2 grands type de leasing 
     <h2 class="title text-center">
        <span class="text-primary">1ere la location avec option d'achat (lOA)</span>
    </h2> 
    <div>
        la loa est une formule intéressante qui consiste a mettre a la disposition d'un locataire une voiture neuve pendant une duréé déterminée dans le contrat de leasing auto en contrepartie d'un loyer mensuel versé aux prestataire 
un depot de garantie qui attenit parfois 15% du prix du véhicule est également exigée par le loueur a la fin du contrat trois chois s'offrent locataire soit il remet l'automobile aux loueurs soit il renouvelle le contrat de location ,
spot il décide de l'acheter dans ce dernieri cas vous acquérez la voiture aux prix fixés dans le contrat - la garantie de 15% déposé lors de la souscription du contrat les frais d'entretien d'assistance et de réparation ne spnt pas compris dans la LOA 
a part si vous décidez de rajouter l'option dans le contrat 
    </div>
    <h2 class="title text-center">
        <span class="text-primary">2ene la location longue durée LLD</span>
    </h2> 


<div>
    la location longue durée ou lld est une simple formule de location de voitures qui permet a un particulier ou un  professionnel d'avoir a sa disposition un véhicule neuf et dernier cri sans etre obligé de l'acheter il pourra donc utiliser la voiture a sa guise en ne payant qu'un loyer mensuel pour en bénéficier cette somme versée prend en charge la location de la voiture les éventuelles réparations l'entretien l'assistance et l'assurance
dans la plus part des cas les loueurs détermine le montant des mensualités a payer selon certains critéres comme la durée de location ou le type de vehicule dans la lld le contrat ne précise aucune option d'achat mais vous avez le droit de proposer aux loueurs d'acheter le véhicyle quelques semaine avant la fin de votre contrat important a savoir lors d'une location longue durée le noueur ne requiert aucun accord 
préalable   
</div>